.card__like-button {
  width: 22px;
  height: 19px;
  background-color: transparent;
  transition: opacity 0.3s linear;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
}
