.popup__btn_action_add {
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: opacity 0.3s linear;
}

.popup__btn_action_add:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 660px) {
  .popup__btn_action_add {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
