.popup__btn_action_add {
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border: none;
  box-sizing: border-box;
  padding: 0;
  transition: opacity .3s linear;
}

.popup__btn_action_add:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .popup__btn_action_add {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
